/* Base Styles for Stress Section */
.app.window-app.sheet.wfrp4e.actor.character-sheet .tab.main.active .main-row .stress.row-section {
    display: flex;
    margin: 0 0 0 6px;
    border: 1px solid #736953a6;
    flex-grow: 0;
    flex-basis: 97px;

    /* Stress Section Inner Divisions */

    .stress-section {
        display: flex;
        flex-direction: column;
        height: inherit;
        width: inherit;
        border-right: 1px solid #736953a6;
        flex-grow: 1;
    }

    /* Remove border for last element in the stress section */

    .stress.row-section div:last-of-type {
        border-right: none;
    }

    /* Top label styling */

    .top.label {
        border: none;
        height: 22px;
        font-family: var(--actor-label-font-family);
        font-size: var(--actor-label-font-size);
        font-weight: var(--actor-label-font-weight);
        color: var(--actor-label-color);
        text-align: center;
        box-shadow: 0 0 10px #00000052 inset;
        margin: 0;
        padding: 2px 0 0 0;
    }

    /* Stress value box styling */

    .stress-value-box {
        border-top: 1px solid #736953a6;
        height: 23px;
        margin: 0;
        padding: 0;
        font-family: var(--actor-input-font-family);
        font-size: var(--actor-input-font-size);
        font-weight: var(--actor-input-font-weight);
        color: var(--actor-input-color);
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    /* Value and Max Stress styles */

    #value, #stress-max {
        flex-grow: 1;
        height: 100%;
    }

    #value > input, #stress-max > input, #stress-max > a {
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 5px;
    }

    #divisor {
        width: fit-content;
        height: 22px;
        padding-top: 5px;
    }
}


